<ion-content [fullscreen]="true">
  <div class="form-container">
    <img src="assets/icon/Icon.png" alt="Logo" class="logo" />
    <div class="form-box">
      <h2>Reset Password</h2>
      <p class="instruction-text">Masukkan token dari email Anda dan password baru.</p>

      <ion-item>
        <ion-icon name="keypad-outline" slot="start"></ion-icon>
        <ion-input type="text" placeholder="Token" [(ngModel)]="formData.token"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input type="password" placeholder="Password Baru" [(ngModel)]="formData.password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input type="password" placeholder="Konfirmasi Password Baru" [(ngModel)]="formData.password_confirmation"></ion-input>
      </ion-item>

      <ion-button expand="block" color="success" (click)="resetPassword()">Reset Password</ion-button>
      <ion-button expand="block" fill="clear" (click)="goToLogin()">Kembali ke Login</ion-button>
    </div>
  </div>
</ion-content>