<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  <ion-title class="logo-container">
      <img src="assets/icon/Icon.png" alt="GoRentall Logo" class="header-logo-img">
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="search-container">
    <ion-searchbar 
      class="custom-searchbar"
      placeholder="Cari pertanyaan..." 
      [value]="searchQuery"
      (ionInput)="onSearchChange($event)">
    </ion-searchbar>
  </div>

  <div *ngIf="showNoResults" class="no-results-container">
  </div>

<div *ngIf="!showNoResults">
  <ion-accordion-group class="faq-accordion">
    <ion-accordion *ngFor="let faq of filteredFaqs" value="{{faq.question}}">
      
      <ion-item slot="header">
        <ion-label>{{ faq.question }}</ion-label>
      </ion-item>
      
      <div class="ion-padding" slot="content">
        {{ faq.answer }}
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>

</ion-content>