<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Custom Rental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="car">
    <ion-item lines="none" class="car-info-header">
      <ion-thumbnail slot="start">
        <img [src]="car.imageUrl">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ car.name }}</h2>
        <p class="base-price">Base price: {{ car.price | currency:'Rp ':'symbol':'1.0-0' }}/day</p>
      </ion-label>
    </ion-item>

    <div class="ion-padding">
      <h3 class="section-title">Select Rental Period</h3>
      
      <div class="duration-stepper">
        <ion-button fill="clear" (click)="decrementDays()" class="stepper-btn" [disabled]="numberOfDays <= 1">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
        <div class="day-count">{{ numberOfDays }} <span class="day-text">Days</span></div>
        <ion-button fill="clear" (click)="incrementDays()" class="stepper-btn">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </div>

      <ion-list>
        <ion-item>
          <ion-label>Pickup Date & Time</ion-label>
          <ion-datetime-button datetime="pickupDatetimeCustom"></ion-datetime-button>
        </ion-item>
        <ion-item>
          <ion-label>Return Date & Time</ion-label>
          <ion-datetime-button datetime="returnDatetimeCustom"></ion-datetime-button>
        </ion-item>
      </ion-list>
      
      
      <h3 class="section-title">Driver Options</h3>
      <ion-radio-group [(ngModel)]="driverOption" (ionChange)="calculateTotal()">
        <ion-item [class.item-selected]="driverOption === 'pickup'">
          <ion-label>Pickup</ion-label>
          <ion-radio slot="end" value="pickup"></ion-radio>
        </ion-item>
        <ion-item [class.item-selected]="driverOption === 'delivered'">
          <ion-label>
            Diantar
            <p>Additional {{ DELIVERY_FEE_PER_DAY | currency:'Rp ':'symbol':'1.0-0' }}/day</p>
          </ion-label>
          <ion-radio slot="end" value="delivered"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-note *ngIf="driverOption === 'delivered'" class="delivery-note">
        Layanan diantar tersedia di area jabodetabek saja.
      </ion-note>

      <h3 class="section-title">Payment Summary</h3>
      <div class="payment-summary">
        <div class="summary-item">
          <span>{{ numberOfDays }} Days Rental</span>
          <span>{{ rentalCost | currency:'Rp ':'symbol':'1.0-0' }}</span>
        </div>
        <div class="summary-item" *ngIf="deliveryCost > 0">
          <span>Biaya Antar</span>
          <span>{{ deliveryCost | currency:'Rp ':'symbol':'1.0-0' }}</span>
        </div>
        <div class="summary-item">
          <span>Security Deposit (Refundable)</span>
          <span>{{ car.securityDeposit | currency:'Rp ':'symbol':'1.0-0' }}</span>
        </div>
        <ion-item-divider></ion-item-divider>
        <div class="summary-item total">
          <span>Total</span>
          <span>{{ totalCost | currency:'Rp ':'symbol':'1.0-0' }}</span>
        </div>
      </div>
      
      <ion-button expand="block" color="primary" class="ion-margin-top" (click)="goToPayment()">
        Continue
      </ion-button>
    </div>
  </div>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="pickupDatetimeCustom" [(ngModel)]="pickupDateTime" (ionChange)="calculateTotal()"></ion-datetime>
    </ng-template>
  </ion-modal>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="returnDatetimeCustom" [(ngModel)]="returnDateTime" (ionChange)="calculateTotal()"></ion-datetime>
    </ng-template>
  </ion-modal>

</ion-content>