ion-content {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 20px;
  }

  .main-icon {
    font-size: 96px; // Ukuran ikon besar
    color: var(--ion-color-medium-shade);
    margin-bottom: 24px;
  }

  ion-spinner {
    margin-bottom: 16px;
    width: 40px;
    height: 40px;
  }

  p {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 0 4px 0;
  }

  span {
    font-size: 0.9rem;
    color: var(--ion-color-medium);
  }
}