<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Aktivitas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="isLoading" class="ion-text-center ion-padding">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div *ngIf="!isLoading && orderHistory.length === 0" class="ion-text-center ion-padding">
    <p>Belum ada riwayat aktivitas.</p>
  </div>

  <ion-list lines="none" *ngIf="!isLoading && orderHistory.length > 0">
    <ion-card *ngFor="let order of orderHistory" class="order-card">

      <ion-item class="card-header" lines="none">
        <ion-label>
          <h2>#GR{{ order.id }}</h2>
          <p>
            {{ order.waktu_sewa | date:'d MMM y, HH:mm' }} -
            {{ order.waktu_kembali | date:'d MMM y, HH:mm' }}
          </p>
        </ion-label>
        <ion-chip [color]="getStatusColor(order.status_pemesanan)" outline="true" class="status-chip-main">
          {{ order.status_pemesanan }}
        </ion-chip>
      </ion-item>

      <ion-item lines="none" class="car-details">
        <ion-thumbnail slot="start">
          <img [src]="'http://127.0.0.1:8000' + order.vehicle?.foto_utama"
               (error)="carImg.src = 'assets/icon/placeholder.png'" #carImg>
          </ion-thumbnail>
        <ion-label>
          <h3>{{ order.vehicle?.merk }} {{ order.vehicle?.nama }}</h3>
          <p>{{ order.total_harga | currency:'Rp ':'symbol':'1.0-0' }}</p>
          <p class="return-info">
            {{ order.delivery_option === 'delivered' ? 'Diantar ke lokasi Anda' : 'Ambil Sendiri' }}
          </p>
        </ion-label>
      </ion-item>

      <div class="divider"></div>

      <div class="deposit-section" *ngIf="order.payment">
        <div class="deposit-header">
          <h4>Security Deposit</h4>
          <ion-chip [color]="getStatusColor(order.payment.status_deposit)" class="status-chip-deposit">
            {{ order.payment.status_deposit }}
          </ion-chip>
        </div>
        <div class="deposit-row refunded" *ngIf="order.payment.deposit_dikembalikan > 0">
            <strong>Refunded Amount</strong>
            <strong>{{ order.payment.deposit_dikembalikan | currency:'Rp ':'symbol':'1.0-0' }}</strong>
        </div>
        <div class="deposit-row">
          <span>Original Deposit</span>
          <span>{{ order.vehicle?.security_deposit | currency:'Rp ':'symbol':'1.0-0' }}</span>
        </div>
      </div>

      <ion-grid class="action-buttons">
        <ion-row>
          <ion-col>
            <ion-button expand="block" fill="outline" (click)="viewReceipt(order)">Receipt</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" (click)="bookAgain(order)">Book Again</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card>
  </ion-list>
</ion-content>