<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Ubah Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="passwordForm" (ngSubmit)="saveChanges()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Password Saat Ini</ion-label>
        <ion-input [type]="showCurrentPassword ? 'text' : 'password'" 
                   formControlName="currentPassword"></ion-input>
        <ion-icon [name]="showCurrentPassword ? 'eye-off-outline' : 'eye-outline'" 
                  slot="end" class="password-toggle-icon" 
                  (click)="toggleCurrentPasswordVisibility()"></ion-icon>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Password Baru</ion-label>
        <ion-input [type]="showNewPassword ? 'text' : 'password'" 
                   formControlName="newPassword"></ion-input>
        <ion-icon [name]="showNewPassword ? 'eye-off-outline' : 'eye-outline'" 
                  slot="end" class="password-toggle-icon" 
                  (click)="toggleNewPasswordVisibility()"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Konfirmasi Password Baru</ion-label>
        <ion-input [type]="showConfirmNewPassword ? 'text' : 'password'" 
                   formControlName="confirmNewPassword"></ion-input>
        <ion-icon [name]="showConfirmNewPassword ? 'eye-off-outline' : 'eye-outline'" 
                  slot="end" class="password-toggle-icon" 
                  (click)="toggleConfirmNewPasswordVisibility()"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-button expand="block" type="submit" [disabled]="passwordForm.invalid" class="save-changes-button">
      Simpan Perubahan
    </ion-button>
  </form>
</ion-content>