<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="change-password-container">
    <ion-card class="password-card">
      <ion-card-content>
        <!-- Current Password -->
        <ion-item lines="none">
          <ion-label position="stacked">Password Saat Ini</ion-label>
          <!-- Mengikat tipe input ke variabel showCurrentPassword -->
          <ion-input [type]="showCurrentPassword ? 'text' : 'password'" 
                     placeholder="Password Saat Ini" 
                     [(ngModel)]="currentPassword" 
                     class="password-input">
          </ion-input>
          <!-- Mengikat nama ikon dan menambahkan event click -->
          <ion-icon [name]="showCurrentPassword ? 'eye-off-outline' : 'eye-outline'" 
                    slot="end" 
                    class="password-toggle-icon" 
                    (click)="toggleCurrentPasswordVisibility()">
          </ion-icon>
        </ion-item>

        <!-- New Password -->
        <ion-item lines="none">
          <ion-label position="stacked">Password Baru</ion-label>
          <!-- Mengikat tipe input ke variabel showNewPassword -->
          <ion-input [type]="showNewPassword ? 'text' : 'password'" 
                     placeholder="Password Baru" 
                     [(ngModel)]="newPassword" 
                     class="password-input">
          </ion-input>
          <!-- Mengikat nama ikon dan menambahkan event click -->
          <ion-icon [name]="showNewPassword ? 'eye-off-outline' : 'eye-outline'" 
                    slot="end" 
                    class="password-toggle-icon" 
                    (click)="toggleNewPasswordVisibility()">
          </ion-icon>
        </ion-item>

        <!-- Confirm New Password -->
        <ion-item lines="none">
          <ion-label position="stacked">Konfirmasi Password Baru</ion-label>
          <!-- Mengikat tipe input ke variabel showConfirmNewPassword -->
          <ion-input [type]="showConfirmNewPassword ? 'text' : 'password'" 
                     placeholder="Konfirmasi Password Baru" 
                     [(ngModel)]="confirmNewPassword" 
                     class="password-input">
          </ion-input>
          <!-- Mengikat nama ikon dan menambahkan event click -->
          <ion-icon [name]="showConfirmNewPassword ? 'eye-off-outline' : 'eye-outline'" 
                    slot="end" 
                    class="password-toggle-icon" 
                    (click)="toggleConfirmNewPasswordVisibility()">
          </ion-icon>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" class="save-changes-button" (click)="saveChanges()">
      Simpan Perubahan
    </ion-button>
  </div>
</ion-content>
