<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Payment Method</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <h2 class="section-title">Choose Payment Method</h2>
  <ion-list lines="none">
    <ion-radio-group [(ngModel)]="selectedPayment">
      <p class="payment-group-title">Bank Transfer</p>
      <ion-item [class.item-selected]="selectedPayment === 'bca'">
        <ion-thumbnail slot="start"><img src="assets/payment/bca.png"></ion-thumbnail>
        <ion-label>
          <h3>Bank Central Asia</h3>
          <p>Transfer via ATM, Mobile Banking, Internet Banking</p>
        </ion-label>
        <ion-radio value="bca" slot="end"></ion-radio>
      </ion-item>
      <ion-item [class.item-selected]="selectedPayment === 'mandiri'">
        <ion-thumbnail slot="start"><img src="assets/payment/mandiri.png"></ion-thumbnail>
        <ion-label>
          <h3>Bank Mandiri</h3>
          <p>Transfer via ATM, Mobile Banking, Internet Banking</p>
        </ion-label>
        <ion-radio value="mandiri" slot="end"></ion-radio>
      </ion-item>

      <p class="payment-group-title">E-Wallet</p>
      <ion-item [class.item-selected]="selectedPayment === 'gopay'">
        <ion-thumbnail slot="start"><img src="assets/payment/gopay.png"></ion-thumbnail>
        <ion-label>
          <h3>GoPay</h3>
          <p>Pay with your GoPay balance</p>
        </ion-label>
        <ion-radio value="gopay" slot="end"></ion-radio>
      </ion-item>
       <ion-item [class.item-selected]="selectedPayment === 'ovo'">
        <ion-thumbnail slot="start"><img src="assets/payment/ovo.png"></ion-thumbnail>
        <ion-label>
          <h3>OVO</h3>
          <p>Pay with your OVO balance</p>
        </ion-label>
        <ion-radio value="ovo" slot="end"></ion-radio>
      </ion-item>

      <p class="payment-group-title">Credit/Debit Card</p>
      <ion-item [class.item-selected]="selectedPayment === 'card'">
        <ion-thumbnail slot="start"><img src="assets/payment/card.png"></ion-thumbnail>
        <ion-label>
          <h3>Credit/Debit Card</h3>
          <p>Visa, Mastercard, JCB accepted</p>
        </ion-label>
        <ion-radio value="card" slot="end"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" color="primary" (click)="proceedToInstruction()">KONFIRMASI</ion-button>
</ion-footer>