<ion-content [fullscreen]="true">
  <div class="forgot-password-container">
    <!-- Logo GoRent all -->
    <!-- Pastikan path logo ini benar di assets/icon/Icon.png -->
    <img src="assets/icon/Icon.png" alt="GoRentall Logo" class="logo" />
    <div class="form-box forgot-password-box">
      <h2>Forgot Password?</h2>
      <p class="instruction-text">Enter your email to receive a password reset link.</p>

      <!-- Input Email Address -->
      <ion-item>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input type="email" placeholder="Email Address" [(ngModel)]="email"></ion-input>
      </ion-item>

      <!-- Tombol Send Reset Link -->
      <ion-button expand="block" color="success" class="send-reset-button" (click)="sendResetLink()">Send Reset Link</ion-button>
      
      <!-- Tombol Cancel -->
      <ion-button expand="block" color="success" class="cancel-button" (click)="goToLogin()">Cancel</ion-button>
    </div>
  </div>
</ion-content>
