<ion-content [fullscreen]="true">
  <div class="register-container">
    <img src="assets/icon/Icon.png" alt="GoRentall Logo" class="logo" />
    <div class="form-box register-box">
      <h2>Registration</h2>

      <!-- Input Full Name -->
      <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input type="text" placeholder="Full Name" [(ngModel)]="fullName"></ion-input>
      </ion-item>

      <!-- Input Phone Number -->
      <ion-item>
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-input type="tel" placeholder="Phone Number" [(ngModel)]="phoneNumber"></ion-input>
      </ion-item>

      <!-- Input Email Address -->
      <ion-item>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input type="email" placeholder="Email Address" [(ngModel)]="email"></ion-input>
      </ion-item>

      <!-- Input Current Location -->
      <ion-item>
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-input type="text" placeholder="Current Location" [(ngModel)]="currentLocation"></ion-input>
      </ion-item>

      <!-- Input Date (Manual Input) -->
      <ion-item class="date-manual-input-item">
        <ion-label position="stacked">Date of Birth</ion-label> <!-- Label "Date of Birth" ditambahkan di sini -->
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-input type="text" placeholder="DD/MM/YYYY" [(ngModel)]="formattedBirthDate" (ionChange)="onManualDateChange()"></ion-input>
      </ion-item>

      <!-- Input Password -->
      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <!-- Input Confirm Password -->
      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword"></ion-input>
      </ion-item>

      <!-- Tombol Register -->
      <ion-button expand="block" color="success" (click)="doRegister()">Registration</ion-button>
      
      <!-- Tombol Cancel -->
      <ion-button expand="block" color="success" (click)="goToLogin()">Cancel</ion-button>
    </div>
  </div>
</ion-content>
